  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading pure-menu-link" href="">
      Winthrop Gillis
    </a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        Main
      </li>
      <li class="pure-menu-item">
        Projects
      </li>
      <li class="pure-menu-item">
        Gallery
      </li>
      <li class="pure-menu-item">
        &lt;/&gt; Software
      </li>
      <li class="pure-menu-item">
        Stuff I write about
      </li>
    </ul>
  </div>
