<nav id="navbar" class="header">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable nav-width">
    <a class="pure-menu-heading pure-menu-link" href="">
      Winthrop Gillis
    </a>
    <ul class="pure-menu-list adjust-height">
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/">Main</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/projects/">Projects</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/gallery/">Gallery</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/software/">&lt;/&gt; Software</a>
      </li>
      <li class="pure-menu-item">
        <a class="pure-menu-link" href="/blog/">Stuff I write about</a>
      </li>
    </ul>
  </div>
</nav>
