<nav id="navbar" class="header">
  <div class="nav-width">
  <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading pure-menu-link" href="/">
          Winthrop Gillis
        </a>
    <ul id="mobile-menu" class="pure-menu-list">
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" id="menuLink1" class="pure-menu-link">Site topics</a>
        <ul class="pure-menu-children">
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/projects/">Science</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/gallery/">Gallery</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/software/">&lt;/&gt; Software</a>
          </li>
          <li class="pure-menu-item">
            <a class="pure-menu-link" href="/blog/">Writing</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul id="desktop-menu" class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/projects/">Science</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/gallery/">Gallery</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/software/">&lt;/&gt; Software</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/blog/">Writing</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
