<div id="svg-social-icons">
  <a href="https://www.linkedin.com/in/wingillis">
    <div class="icon" id="linkedin-icon">
			{% asset linkedin.svg class='inject' %}
    </div>
  </a>
  <a href="mailto:win.gillis@gmail.com">
    <div class="icon" id="email-icon">
			{% asset email.svg class='inject' %}
    </div>
  </a>
  <a href="https://github.com/wingillis" target="_blank">
    <div class="icon" id="github-icon">
			{% asset github.svg class='inject' %}
    </div>
  </a>
  <a href="/feed.xml">
    <div class="icon" id="rss-icon">
			{% asset rss.svg class='inject' %}
    </div>
  </a>
  <div>
    Share:
  </div>
  <a href="https://getpocket.com/save?url={{ site.url }}/{{ page.url }}" target="_blank">
    <div class="icon" id="pocket-icon">
			{% asset pocket.svg class='inject' %}
    </div>
  </a>
  <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.url }}">
    <div class="icon" id="facebook-icon">
			{% asset facebook.svg class='inject' %}
    </div>
  </a>
</div>
