<div id="svg-social-icons">
  <a href="mailto:win.gillis@gmail.com">
    <div class="icon" id="email-icon">
      <img class="inject" src="{% asset_path 'email.svg' %}" />
    </div>
  </a>
  <a href="https://github.com/wingillis" target="_blank">
    <div class="icon" id="github-icon">
      <img class="inject" src="{% asset_path 'github.svg' %}" />
    </div>
  </a>
  <a href="https://play.google.com/store/apps/developer?id=Winthrop%20Gillis&hl=en">
    <div class="icon" id="google-play-icon">
      <img class="inject" src="{% asset_path 'googleplay.svg' %}" />
    </div>
  </a>
  <a href="/feed.xml">
    <div class="icon" id="rss-icon">
      <img class="inject" src="{% asset_path 'rss.svg' %}" />
    </div>
  </a>
</div>
