---
layout: post
title: Why?
commentless: true
description: Entries in this system are disorienting and disorganized
---
<div class="centered">
  <h1 style="box-shadow: 0px 15px 40px -17px #fff;">Posts</h1>
</div>
<!-- <div style="height: 10px">

</div> -->
<div class="article-list">
  {% for post in paginator.posts %}
    <a href="{{ post.url }}" title="{{ post.title }}">
      <div class="article-item">
        <h3>
          {{ post.title }}
        </h3>
        <p>
          {{ post.description }}
        </p>
        <div>
          <p class="article-footer">
            Posted:
            {{ post.date | date: "%B %-d, %Y" }}
            Length:
            {% capture words %}
              {{ post.content | number_of_words }}
            {% endcapture %}
            {% unless words contains "-" %}
              {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
            {% endunless %}
          </p>
        </div>
      </a>
    </div>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <div class="article-pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts <span class="icon icon-ios-arrow-thin-right"></span></a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}"><span class="icon icon-ios-arrow-thin-left"></span> Older posts</a>
      {% endif %}
    </div>
  {% endif %}
</div>
