---
layout: post
title: Why?
description: Entries in this system are disorienting and disorganized
---

<ul class="article-list">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}" title="{{ post.title }}">
        <h5>
          {{ post.title }}
        </h5>
      </a>
    </li>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
    <li class="article-pagination reveal">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts <span class="icon icon-ios-arrow-thin-right"></span></a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}"><span class="icon icon-ios-arrow-thin-left"></span> Older posts</a>
      {% endif %}
    </li>
  {% endif %}
</ul>
