@import "base";

.nav-width {
  max-width: 900px;
  margin: auto;
}

.header {
  background-color: rgba(#052d35, 0.78);
  border-bottom: 1px solid rgba(#d1e6db, 0.11);
}

.adjust-height {
   li {
    height: auto;
  }
}

nav {
  .pure-menu-item {
    height: auto;
  }
  ul.pure-menu-children {
    background-color: #083842;
  }
}

.pure-menu-link:focus {
  background-color: transparent;
}

a.pure-menu-heading.pure-menu-link {
  color: #f4fbf7;
}

a.pure-menu-link {
  color: #d9eee4;
  padding-bottom: 18px;
  padding-top: 18px;
  transition: background-color 0.2s;
}

a.pure-menu-link:hover {
  background-color: rgba(#d4eee2, 0.09);
  color: #ffffff;
}

.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0;
}

#mobile-menu {
  @media screen and (min-width: 40em) {
    display: none;
  }
}

#desktop-menu {
  @media screen and (max-width: 39.95em) {
    display: none;
  }
}
