<nav id="navbar" class="header">
  <div class="nav-width">
    <div class="pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading pure-menu-link" href="/">
        Winthrop Gillis
      </a>
      <ul id="mobile-menu" class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
          <a href="#" id="menuLink1" class="pure-menu-link">Pages</a>
          <ul class="pure-menu-children">
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="/cv/">Science</a>
            </li>
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="/software/">&lt;/&gt; Software</a>
            </li>
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="/posts/">Blog</a>
            </li>
            <li class="pure-menu-item">
              <a class="pure-menu-link" href="/gallery/">Art</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul id="desktop-menu" class="pure-menu-list">
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/cv/">Science</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/software/">&lt;/&gt; Software</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/posts/">Blog</a>
        </li>
        <li class="pure-menu-item">
          <a class="pure-menu-link" href="/gallery/">Art</a>
        </li>
      </ul>
      <div class="pure-menu-item">
        <span style="font-weight: 100; font-size: 10pt; padding-right: 3px;">Dark mode:</span>
      </div>
      <div class="pure-menu-item">
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="darkmode" onclick="applyDarkMode()">
          <label class="onoffswitch-label" for="darkmode"></label>
        </div>
      </div>
    </div>
  </div>
</nav>