
$text-color: #ccc;
$caption-color: #999;
$link-color: #CDB9FF;
$site-link: #ddd;
$menu-link-hover: rgba(255,255,255, 0.13);
$content-background: rgba(0,0,0, 0.45);
$code-background: rgba(205, 185, 255, 0.13);
