@import "base";

.nav-width {
  max-width: 900px;
  margin: auto;
}

.header {
  background-color: darken($background-color, 8%);
}

.adjust-height {
   li {
    height: auto;
  }
}

nav {
  .pure-menu-item {
    height: auto;
  }
  ul.pure-menu-children {
    background-color: darken($background-color, 8%);
  }
}

.pure-menu-link:focus {
  background-color: transparent;
}

a.pure-menu-heading.pure-menu-link {
  color: $site-link;
}

a.pure-menu-link {
  color: $link-color;
  padding-bottom: 18px;
  padding-top: 18px;
  transition: background-color 0.2s;
}

a.pure-menu-link:hover {
  background-color: $menu-link-hover;
}

.pure-menu-horizontal.pure-menu-scrollable {
  padding: 0;
}

#mobile-menu {
  @media screen and (min-width: 38em) {
    display: none;
  }
}

#desktop-menu {
  @media screen and (max-width: 38em) {
    display: none;
  }
}