@import "base";

h1, h2, h3, h4, h5 {
  color: $text-color;
}

h1 {
  padding-bottom: 10px;
}
h1 {
  border-bottom: 1px solid $text-color;
}

a:link {
  color: $link-color;
  text-decoration: none;
}

a:visited {
  color: $link-color;
  text-decoration: none;
}

.centered {
  text-align: center;
}

body {
  background-color: rgb(0,0,0);
  background-image: url("http://imgur.com/QFJeqBR.png"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23d6c7d9' fill-opacity='0.11' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center, center;
  background-attachment: fixed, scroll;
}


div.text-content {
  background-color: $content-background;
  box-shadow: 0 0 20px 20px $content-background;
}

.image-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.content {
  margin: auto;
  margin-top: 45px;
  max-width: 850px;
}

.img-center {
  margin: auto;
}

.extra-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.min-padding {
  padding: 7px;
}

p, li {
  line-height: 1.5;
  color: $text-color;
}

div.pure-g {
  div {
    p {
      padding: 0px 16px;
    }
  }
}

.icon {
  width: 30px;
  height: 30px;
  margin-left: 6px;
  margin-right: 6px;
}

#pocket-icon {
  background-color: #fff;
  border-radius: 4px;
  .inject {
    fill: #E81611;
  }
}

#facebook-icon {
  background-color: #fff;
  border-radius: 4px;
  .inject {
    fill: #2552DB;
  }
  // background-color: #0538FF;
}

#linkedin-icon {
  border-radius: 4px;
  background-color: #0077B5;
}

#email-icon {
  border-radius: 4px;
  background-color: #AD0513;
}

#rss-icon {
  border-radius: 4px;
  background-color: #FF6C09;
}

#github-icon {
  border-radius: 4px;
  background-color: #181717;
}

#google-play-icon {
  background-color: #607D8B;
  border-radius: 4px;
}

.inject {
  margin: 4px;
  fill: #fff;
  transition: transform 0.4s;
}

.inject:hover {
  transform: scale(0.75);
}

#svg-social-icons {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

p {
  b {
    color: lighten($text-color, 13%);
  }
}

figure {
  padding: 7px;
  @media screen and (min-width: 30em) {
    width: 85%;
  }
  @media screen and (min-width: 48em) {
    width: 57%;
  }
  margin: 10px auto 0px auto;
  border-radius: 3px;
  background-color: rgba(227, 185, 255, 0.1);
}

figure {
  img {
    width: 100%;
  }
}

.desktop-img {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

figcaption {
  color: $text-color;
}

.article-item {
  border-bottom: 1px solid white;
}

.article-footer {
  font-size: 0.8em;
  color: darken($text-color, 8%);
}
