@import "base";

a:link {
  color: $link-color;
  text-decoration: none;
}

.centered {
  text-align: center;
}

body {
  background-color: rgb(0,0,0);
  background-image: url("http://imgur.com/QFJeqBR.png");
}

div.text-content {
  background-color: $content-background;
  box-shadow: 0 0 20px 20px $content-background;
}

.content {
  margin: auto;
  margin-top: 50px;
  max-width: 900px;
}

p, li {
  line-height: 1.5;
  color: $text-color;
}

div.pure-g {
  div {
    p {
      padding: 0px 16px;
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

#email-icon {
  border-radius: 4px;
  background-color: #AD0513;
}

#github-icon {
  border-radius: 4px;
  background-color: #181717;
}

#google-play-icon {
  background-color: #607D8B;
  border-radius: 4px;
}


.inject {
  margin: 4px;
  fill: #fff;
  transition: transform 0.4s;
}

.inject:hover {
  transform: scale(0.75);
}

#svg-social-icons {
  display: flex;
  height: 50px;
  justify-content: center;
  padding-top: 10px;
}
