.onoffswitch {
  position: relative; width: 32px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 12px; padding: 0; line-height: 12px;
  border: 0px solid #C0C0C0; border-radius: 18px;
  background-color: #3D3D3D;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 18px; margin: -3px;
  background: #C0C0C0;
  position: absolute; top: 0; bottom: 0;
  right: 20px;
  border-radius: 18px;
  // border: 2px solid #3D3D3D;
  // box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #C0C0C0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
//  border: 2px solid #3D3D3D;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; 
  background-color: #3D3D3D; 
  // box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}