<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    {% include social_header.html %}
    <div class="content pure-g text-content">
      <div class="pure-u-md-1-3 pure-u-sm-1-1">
        <div class="min-padding">
          <img class="pure-img" src="http://imgur.com/IlbC9vk.jpg" />
        </div>
      </div>
      <div class="pure-u-md-2-3 pure-u-1">
          {{ content }}
      </div>
    </div>
    {% include javascripts.html %}
  </body>
</html>
