<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    {% include social_header.html %}
    <div class="content pure-g text-content">
      <div class="pure-u-1">
          {{ content }}
      </div>
      <div class="pure-u-md-1-3 pure-u-sm-1-2" style="margin: auto;">
        <div class="min-padding">
          {% asset headshot_01.png class="pure-img" %}
          <!-- {% asset headshot_02.jpg class="pure-img" %} -->
        </div>
      </div>
      <br>
    </div>
    {% include javascripts.html %}
    {% asset rndm_img_padding.js %}
    {% include footer.html %}
  </body>
</html>
