---
title: tic-toc
---

<html>
  <head>
    {% include head.html %}
    {% asset alarm.ico %}
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.lime-indigo.min.css"> -->
  </head>
  <body>
    {% include navbar.html %}
    <audio preload="auto" id="alarmAudio" src=asset_url("alarm.opus") volume="0.7">
    </audio>
    <app></app>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    {% asset build.js %}
  </body>

</html>
